/* Booking Form */
.booking-form {
  width: 47.5%;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #7c8a972a;
  border-radius: 4px;
  color: #7c8a97;
  margin-bottom: 1rem;
}

.booking-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("down-arrow.svg") no-repeat right center / 10%;
}

.booking-form input::placeholder,
.booking-form select option[disabled] {
  color: #7c8a972a;
}

.time-picker::before {
  content: "Journey Time";
  color: #7c8a97;
  margin-right: 0.5rem;
}

.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .booking-form {
    width: 100%;
  }

  .booking-form input,
  .booking-form select,
  .booking-form textarea {
    font-size: 0.8rem;
  }
}
